body {
    margin-left: 30%;
    margin-right: 30%;
    background: linear-gradient(180deg, rgb(117, 81, 194), rgb(255, 255, 255));
    display: flex;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* height: 100% */
    /* width: max-width; */
    justify-content: center;
    align-items: center;
  }
  
  main {
    display: flex;
    /* width: 50%; */
    flex-direction: column;
    align-items: stretch;
  }

  h1 {
    /* font-size: 14pt; */
    color: whitesmoke;
    font-size: 1.5em;
    padding: 10px;
    border: 2px;
    border-color: antiquewhite;
    box-shadow: 2px  rgba(0, 0, 0, 0.3);;
    border-radius: 2%;
    background-color: rgb(105, 78, 170);
  }

  h2 {
    font-size: 1.4em;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    border: 1px solid black;
    gap: 1px;
    background-color: black;
    border-radius: 8px;
    overflow: auto;
  }
  
  li {
    background-color: white;
    padding: 8px;
  }
  
  li:hover {
    background: #dadbf9;
  }
  
  a {
    font-weight: 800;
    text-decoration: none;
  }